.transition {
  transition: all 0.3s ease-in-out;
}

.nav-items div {
  color: black;
  position: relative;
  text-decoration: none;
}
.text-stroke {
  text-shadow: 0px 0px 5px black;
}
.nav-items div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-items div:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.social-icon {
  &:hover {
    background-color: black;
    svg {
      color: white;
    }
  }
}

.skill-item {
  &:hover {
    img {
      filter: invert(100%);
    }
  }
}

.contact-background {
  background: url("../images/contactback.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  padding: 5px;
  background-color: #5e5e5e; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #171717; /* Color of the scrollbar thumb */
  width: 2px;
  margin: auto;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000; /* Color of the scrollbar thumb on hover */
}

@media (max-width: 1024px) {
  .nav-items {
    display: none !important;
  }
  .burgerButton {
    display: flex !important;
  }
}
@media (max-width: 500px) {
  .resumeButton {
    display: none !important;
  }
  .resumeButton2 {
    display: flex !important;
    position: absolute;
    bottom: 60px;
  }
  .nav-logo {
    flex: 2 !important;
  }
  .burgerButton {
    width: max-content !important;
  }
}
.burgerButton {
  display: none;
}
.resumeButton2 {
  display: none;
}
@media (max-width: 768px) {
  .flip-horizontal {
    transform: scaleX(-1);
  }
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(55, 55, 55);
  transform-origin: 0%;
  z-index: 99999;
}
